# Configuration file created by waf using data/wscript
# Libraries, compilers are not relevant
#
BUILD_TYPE     | env     | -     | waf nocopy nosuperv
ENV_SH         | env     | -     | profile.sh
ADDMEM         | memory  | -     | @ADDMEM@
#
BIN_NODBG      | bin     | -     | @PYTHON@
BIN_DBG        | bin     | -     | @PYTHON@
#
# for as_run --make_shared...
F90            | compil  | -     | @FC@
OPTF90_O       | compil  | -     | @FCFLAGS@
#
# for as_run --messages, --get, --show..., and astout
SRCFOR         | src     | -     | @SRC@/bibfor
SRCC           | src     | -     | @SRC@/bibc
SRCPY          | src     | -     | @ASTERLIBDIR@
SRCCATA        | src     | -     | @SRC@/catalo
SRCCAPY        | src     | -     | @SRC@/catapy
@srctest@
SRCMAT         | src     | -     | @SRC@/../data/materiau
SRCHIST        | src     | -     | @SRC@/histor
#
REPOUT         | exec    | -     | $ASTER_ROOT/outils
REPMAT         | exec    | -     | $ASTER_VERSION_DIR/materiau
REPDEX         | exec    | -     | $ASTER_VERSION_DIR/datg
