
# --------------------------------------------------------------------
# Copyright (C) 1991 - 2017 - EDF R&D - www.code-aster.org
# This file is part of code_aster.
#
# code_aster is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# code_aster is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with code_aster.  If not, see <http://www.gnu.org/licenses/>.
# --------------------------------------------------------------------
# person_in_charge: mathieu.courtois@edf.fr

SET(SALOME_TEST_DRIVER "$ENV{ABSOLUTE_APPLI_PATH}/bin/salome/appliskel/salome_test_driver.py")
SET(COMPONENT_NAME ASTER_@ASTER_TAG@)
SET(TIMEOUT        300)

SET(USER "salometest")
IF(DEFINED ENV{USER})
    SET(USER "$ENV{USER}")
ENDIF()
SET(RESUTEST_DIR "@ASRUN_TMPDIR@/${USER}_resutest@ASTER_TAG@")

# build the testlist GOOD_TESTS as ASTER_xxxx
EXECUTE_PROCESS(COMMAND as_run "--vers=@ASTERDATADIR@" "--silent" "--list" "--all" "--filter" "'sequential' in testlist" OUTPUT_VARIABLE STR_TESTS OUTPUT_STRIP_TRAILING_WHITESPACE)

SEPARATE_ARGUMENTS(GOOD_TESTS UNIX_COMMAND ${STR_TESTS})
SET(SHARED_TESTS
    forma02a
    forma01c
    mumps01a
    mfron01a
    zzzz151a
    zzzz200b
    zzzz218a
    zzzz401a)

FOREACH(testname ${GOOD_TESTS})
    IF(NOT (testname MATCHES "^(erreu06a|plexu|supv002a)"))
        SET(TEST_NAME ASTER_@ASTER_TAG@_${testname})
        SET(TEST_DIR ${RESUTEST_DIR}/${testname})
        ADD_TEST(${TEST_NAME} as_run --vers=@ASTERDATADIR@ --test ${testname} ${TEST_DIR} --run_params=facmtps=3)
        LIST(FIND SHARED_TESTS "${testname}" isShared)
        IF(isShared EQUAL -1)
            SET_TESTS_PROPERTIES(${TEST_NAME} PROPERTIES LABELS "${COMPONENT_NAME}")
        ELSE()
            SET_TESTS_PROPERTIES(${TEST_NAME} PROPERTIES LABELS "${COMPONENT_NAME},SMECA_INTEGR")
        ENDIF()
    ENDIF()
ENDFOREACH()
