
# --------------------------------------------------------------------
# Copyright (C) 1991 - 2017 - EDF R&D - www.code-aster.org
# This file is part of code_aster.
#
# code_aster is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# code_aster is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with code_aster.  If not, see <http://www.gnu.org/licenses/>.
# --------------------------------------------------------------------
# person_in_charge: mathieu.courtois@edf.fr

set(COMPONENT_NAME ASTER_@ASTER_TAG@)
set(TIMEOUT        300)

set(USER "salometest")
if(DEFINED ENV{USER})
    set(USER "$ENV{USER}")
endif()
set(RESUTEST_DIR "@ASRUN_TMPDIR@/${USER}_resutest@ASTER_TAG@")

set(ASTER_TEST_FILES
@ASTER_TEST_FILES@
)

set(ASTER_TEST_FILES_VALID
@ASTER_TEST_FILES_VALID@
)

set(ASTER_TEST_FILES_INTEGR
forma02a
forma01c
mumps01a
mfron01a
zzzz151a
zzzz200b
zzzz218a
zzzz401a
)

set(ASTER_TEST_FILES_ALL ${ASTER_TEST_FILES} ${ASTER_TEST_FILES_VALID})

foreach(testname ${ASTER_TEST_FILES_ALL})
    if(NOT (testname MATCHES "^(erreu06a|plexu|supv002a)"))
        set(TEST_NAME ASTER_@ASTER_TAG@_${testname})
        set(TEST_DIR ${RESUTEST_DIR}/${testname})
        add_test(${TEST_NAME} as_run --vers=@ASTERDATADIR@ --test ${testname} ${TEST_DIR} --run_params=facmtps=3)

        set(_props "${COMPONENT_NAME}")

        string(FIND "${ASTER_TEST_FILES_INTEGR}" ${testname} _found)
        if(${_found} GREATER -1)
          string(CONCAT _props "${_props}" ";" "SMECA_INTEGR")
        endif()

        string(FIND "${ASTER_TEST_FILES_VALID}" ${testname} _found)
        if(${_found} GREATER -1)
          string(CONCAT _props "${_props}" ";" "${COMPONENT_NAME}_VALID")
        endif()

        set_tests_properties(${TEST_NAME} PROPERTIES LABELS "${_props}")
    endif()
endforeach()
