# created by waf using data/wscript

@OPT_ENV@

LD_LIBRARY_PATH=$ASTER_VERSION_DIR/lib:\
@LD_LIBRARY_PATH@:\
$LD_LIBRARY_PATH
export LD_LIBRARY_PATH

PYTHONPATH=\
.:@ASTERLIBDIR@:\
@CFG_PYTHONPATH@:\
$PYTHONPATH
export PYTHONPATH

# do not change PYTHONHOME under the SALOME environment
if [ -z "${ABSOLUTE_APPLI_PATH}" ]; then
    PYTHONHOME=@PYTHONHOME@
    export PYTHONHOME
fi

# as PYTHONHOME is changed, path to 'python' must preceed all others if a
# subprocess calls it
PATH=@PYTHON_DIRNAME@:\
$PATH
export PATH

ASTER_LIBDIR=@ASTERLIBDIR@
export ASTER_LIBDIR

ASTER_DATADIR=@ASTERDATADIR@
export ASTER_DATADIR

ASTER_LOCALEDIR=@ASTERLOCALEDIR@
export ASTER_LOCALEDIR

ASTER_ELEMENTSDIR=@ASTERLIBDIR@
export ASTER_ELEMENTSDIR

@MFRONT_SPECIFIC@

@OPT_ENV_FOOTER@
