# created by waf using data/wscript

remove_path()
{
    # usage: remove_path value pattern1 [pattern2 [...]]
    #     Returns the 'value' with excluding the given patterns.
    #     Example of use: export PATH=$(remove_path "${PATH}" ${HOME}/local)
    if [ ${#} -lt 2 ]
    then
        echo ${1}
        return
    fi
    local values=${1}
    shift

    local i
    for i in ${@}
    do
        values=$(echo ${values} | tr ":" "\n" | grep -v -F ${i} | tr "\n" ":" | sed -e "s%:\+%:%g;s%^:%%g;s%:$%%g")
    done

    echo ${values}
}

@OPT_ENV@

LD_LIBRARY_PATH=.:$ASTER_VERSION_DIR/lib:\
@LD_LIBRARY_PATH@:\
@ASTERLIBDIR@/code_aster/Supervis:\
$LD_LIBRARY_PATH
export LD_LIBRARY_PATH

# This module was used in SALOME 8 for Python 2.
PYTHONPATH=$(remove_path "${PYTHONPATH}" Subprocess)

PYTHONPATH=\
.:@ASTERLIBDIR@:\
@CFG_PYTHONPATH@:\
$PYTHONPATH
export PYTHONPATH

# sometimes one should not change PYTHONHOME under SALOME environment...
PYTHONHOME=@PYTHONHOME@
export PYTHONHOME

# as PYTHONHOME is changed, path to 'python' must preceed all others if a
# subprocess calls it
PATH=@PYTHON_DIRNAME@:\
$PATH
export PATH

ASTER_LIBDIR=@ASTERLIBDIR@
export ASTER_LIBDIR

ASTER_DATADIR=@ASTERDATADIR@
export ASTER_DATADIR

ASTER_LOCALEDIR=@ASTERLOCALEDIR@
export ASTER_LOCALEDIR

ASTER_ELEMENTSDIR=@ASTERLIBDIR@
export ASTER_ELEMENTSDIR

@MFRONT_SPECIFIC@

@OPT_ENV_FOOTER@
